@import '../../assets/sass/main.scss';

.student-card{
    width: 100%;
    background-color: $color-gray;
    border: 1px solid $color-gray-darker;
    @include boxShadow;
    padding: 1rem 2rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;

    &__info{
        @include centerVH;
        justify-content: flex-start;
    }

    &__image{
        width: 5rem;
        height: 5rem;
        background-color: $color-primary;
        border-radius: 50%;
        font-size: 2rem;
        color: $color-white;
        margin: 1rem 2rem;

        @include centerVH;
    }

    &__name{
        color: $color-gray-darker;
        font-weight: 400;
    }
}