@import '../../assets/sass/main.scss';

.eduHomeworkPage{
    
    padding: 5rem;

    &__btn{
        width: max-content;
        margin: 3rem 0;
        text-decoration: none;
        font-weight: 500;
        color: $color-gray-darker;
        display: flex;
        justify-content: flex-start;
    
        &:hover{
            color: $color-primary;
        }
    }

}