@import "../../assets/sass/main.scss";


.password-reset{
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    width: max-content;
    margin: 3rem 0;
    text-decoration: none;
    color: $color-gray-darker;
    &__btn {
            outline: none;
            border: none;
            background: $color-primary;
            color: $color-white;
            padding: 1rem 4rem;
            font-size: $font-size-default;
            font-family: inherit;
            cursor: pointer;
    }
    &:hover{
    color: $color-primary;
    }
    
}

input{
    width: 20%;
    display: row;
    padding: 0.9rem;
}
