@import "../../assets/sass/main.scss";

.login-box {
  width: 30rem;
  color: $color-black;


 h1 {
     color: $color-gray-darker;
    font-size: $font-size-x-larger;
    font-weight: 500;
    margin-bottom: 5rem;
  }

  &__reset{
    margin: 1rem;
  }
}

.login-form {
  @include centerColumnVH;
  input {
    border: none;
    outline: none;
    color: $color-gray-darker;
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
    border-bottom: 1px solid black;
}
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

