@import '../../assets/sass/main.scss';
.container-chooseClass{
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  & .welcome-msg{
    
    font-size: 3rem;
    font-weight: 100;
    & h3{
      font-weight: 100;
    }
    & .userName{
      color: rgb(231, 7, 7);
      font-weight: 500;
    }
  }

  &__btn{
    padding: 3rem;
    border: 1px solid $color-gray-darker;
    margin: 5rem;
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    color: $color-gray-darker;
    background-color: $color-gray;
    font-size: 2rem;
    @include boxShadow;
    &:hover{
      color: $color-gray;
    background-color: $color-gray-darker;
    }
  }
  & .btnDiv{
    margin: 3rem auto;

  }
}

