@import '../../assets/sass/main.scss';


.sidebar{
    max-width: 25rem;
    height: 90vh;
    padding: 2rem ;
    background-color: $color-gray;
    @include centerColumnVH;
    justify-content: initial;

    

    &__info{
        @include centerColumnVH;
    }

    &__image{
        width: 8rem;
        height: 8rem;
        background-color: $color-primary;
        border-radius: 50%;
        font-size: 3.5rem;
        color: $color-white;
        margin: 1rem 2rem;

        @include centerVH;
    }



    &__nav{
        @include centerColumnVH;
        align-items: flex-start;
        margin: 10rem 0;
    }

    &__link{
        width: max-content;
        text-decoration: none;
        color: $color-primary;
        font-weight: 500;
        font-size: 1.8rem;
        margin: 1rem;
        @include centerVH;

        &-img{
            width: 2rem;
            margin-right: 1rem;
        }
    }

    &__footer{
        margin-top: auto;
    }
}

